<div class="alert alert-success">  
</div>

<div>
    <h1 align="center">Vrije Universiteit Brussel</h1></h1>
    <h1 align="center">=____Fractals with Python____=</h1>
    <h4 align="center">By: Somayyeh Gholami & Deven Ramani</h4>
</div>

<div class="alert alert-success">  
</div>

In [1]:
# !pip install pygame

In [2]:
import math
import random
import picture
import stdaudio

import numpy as np
import pandas as pd
import stddraw as sdd

from stddraw import RED, GREEN, BLUE, GRAY, CYAN, ORANGE, VIOLET

<div class="alert alert-success">  
</div>

In [3]:
# Fractals Data (Percentage Probability & Points Number)

frd = pd.DataFrame({     
    'Fractal Names' : ['Sierpinski', 'Barnsley',    'Coral',  'Culcita', 'Cyclosorus',   'Dragon', 'Fishbone'],
    'Points Number' : [       7000 ,     12000 ,       100 ,      8000 ,       16000 ,     10000 ,     17000 ],
    'Probability-1' : [       0.33 ,      0.01 ,      0.40 ,      0.02 ,        0.02 ,   0.78747 ,      0.02 ],
    'Probability-2' : [       0.33 ,      0.85 ,      0.15 ,      0.84 ,        0.84 ,   0.21253 ,      0.84 ],
    'Probability-3' : [       0.34 ,      0.07 ,      0.45 ,      0.07 ,        0.07 ,      0.00 ,      0.07 ],
    'Probability-4' : [       0.00 ,      0.07 ,      0.00 ,      0.07 ,        0.07 ,      0.00 ,      0.07 ],
    'Probability-5' : [       0.00 ,      0.00 ,      0.00 ,      0.00 ,        0.00 ,      0.00 ,      0.00 ]
})

print()
print('"Fractals Data (Percentage Probability & Points Number)"')
frd

"Fractals Data (Percentage Probability & Points Number)"

,Fractal Names,Points Number,Probability-1,Probability-2,Probability-3,Probability-4,Probability-5
0,Sierpinski,7000,0.33000,0.33000,0.34,0.00,0.0
1,Barnsley,12000,0.01000,0.85000,0.07,0.07,0.0
2,Coral,100,0.40000,0.15000,0.45,0.00,0.0
3,Culcita,8000,0.02000,0.84000,0.07,0.07,0.0
4,Cyclosorus,16000,0.02000,0.84000,0.07,0.07,0.0
5,Dragon,10000,0.78747,0.21253,0.00,0.00,0.0
6,Fishbone,17000,0.02000,0.84000,0.07,0.07,0.0

In [4]:
# Fractals Parameters on the X-axis

frpx = pd.DataFrame({      
    'Fractal Names'   : [         'Sierpinski',            'Barnsley',               'Coral',             'Culcita',          'Cyclosorus',              'Dragon',            'Fishbone'],
    'x-Probability-1' : [[0.500, 0.000, 0.000], [0.000, 0.000, 0.500], [0.307,-0.531, 0.886], [0.000, 0.000, 0.500], [0.000, 0.000, 0.500], [0.824, 0.281,-0.100], [0.000, 0.000, 0.500]],
    'x-Probability-2' : [[0.500, 0.000, 0.500], [0.850, 0.040, 0.075], [0.307,-0.077, 0.216], [0.850, 0.020, 0.075], [0.950, 0.005, 0.025], [0.088, 0.521, 0.534], [0.950, 0.002, 0.025]],
    'x-Probability-3' : [[0.500, 0.000, 0.250], [0.200,-0.260, 0.400], [0.000, 0.545, 0.011], [0.090,-0.280, 0.455], [0.035,-0.200, 0.474], [0.000, 0.000, 0.000], [0.035,-0.110, 0.478]],       
    'x-Probability-4' : [[0.000, 0.000, 0.000],[-0.150, 0.280, 0.575], [0.000, 0.000, 0.000],[-0.090, 0.280, 0.545],[-0.040, 0.200, 0.528], [0.000, 0.000, 0.000],[-0.040, 0.110, 0.525]],      
    'x-Probability-5' : [[0.000, 0.000, 0.000], [0.000, 0.000, 0.000], [0.000, 0.000, 0.000], [0.000, 0.000, 0.000], [0.000, 0.000, 0.000], [0.000, 0.000, 0.000], [0.000, 0.000, 0.000]]       
})

print()
print('"Fractals Parameters on the X-axis"')
frpx

"Fractals Parameters on the X-axis"

,Fractal Names,x-Probability-1,x-Probability-2,x-Probability-3,x-Probability-4,x-Probability-5
0,Sierpinski,"[0.5, 0.0, 0.0]","[0.5, 0.0, 0.5]","[0.5, 0.0, 0.25]","[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]"
1,Barnsley,"[0.0, 0.0, 0.5]","[0.85, 0.04, 0.075]","[0.2, -0.26, 0.4]","[-0.15, 0.28, 0.575]","[0.0, 0.0, 0.0]"
2,Coral,"[0.307, -0.531, 0.886]","[0.307, -0.077, 0.216]","[0.0, 0.545, 0.011]","[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]"
3,Culcita,"[0.0, 0.0, 0.5]","[0.85, 0.02, 0.075]","[0.09, -0.28, 0.455]","[-0.09, 0.28, 0.545]","[0.0, 0.0, 0.0]"
4,Cyclosorus,"[0.0, 0.0, 0.5]","[0.95, 0.005, 0.025]","[0.035, -0.2, 0.474]","[-0.04, 0.2, 0.528]","[0.0, 0.0, 0.0]"
5,Dragon,"[0.824, 0.281, -0.1]","[0.088, 0.521, 0.534]","[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]"
6,Fishbone,"[0.0, 0.0, 0.5]","[0.95, 0.002, 0.025]","[0.035, -0.11, 0.478]","[-0.04, 0.11, 0.525]","[0.0, 0.0, 0.0]"

In [5]:
# Fractals Parameters on the Y-axis

frpy = pd.DataFrame({     
    'Fractal Names'   : [         'Sierpinski',            'Barnsley',               'Coral',             'Culcita',          'Cyclosorus',              'Dragon',            'Fishbone'],
    'y-Probability-1' : [[0.000, 0.500, 0.000], [0.000, 0.160, 0.000],[-0.461,-0.293, 1.096], [0.000, 0.250,-0.014], [0.000, 0.250,-0.040],[-0.212, 0.864, 0.095], [0.000, 0.250,-0.040]],
    'y-Probability-2' : [[0.000, 0.500, 0.000],[-0.040, 0.850, 0.180], [0.154,-0.447, 0.338],[-0.020, 0.830, 0.110],[-0.005, 0.930, 0.053],[-0.464,-0.378, 1.041],[-0.002, 0.930, 0.051]],
    'y-Probability-3' : [[0.000, 0.500, 0.433], [0.230, 0.220, 0.045], [0.692,-0.196, 0.381], [0.300, 0.110,-0.090], [0.160, 0.040,-0.078], [0.000, 0.000, 0.000], [0.270, 0.010,-0.135]],       
    'y-Probability-4' : [[0.000, 0.000, 0.000], [0.260, 0.240,-0.086], [0.000, 0.000, 0.000], [0.300, 0.090,-0.080], [0.160, 0.040,-0.068], [0.000, 0.000, 0.000], [0.270, 0.010,-0.129]],      
    'y-Probability-5' : [[0.000, 0.000, 0.000], [0.000, 0.000, 0.000], [0.000, 0.000, 0.000], [0.000, 0.000, 0.000], [0.000, 0.000, 0.000], [0.000, 0.000, 0.000], [0.000, 0.000, 0.000]]       
})

print()
print('"Fractals Parameters on the Y-axis"')
frpy

"Fractals Parameters on the Y-axis"

,Fractal Names,y-Probability-1,y-Probability-2,y-Probability-3,y-Probability-4,y-Probability-5
0,Sierpinski,"[0.0, 0.5, 0.0]","[0.0, 0.5, 0.0]","[0.0, 0.5, 0.433]","[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]"
1,Barnsley,"[0.0, 0.16, 0.0]","[-0.04, 0.85, 0.18]","[0.23, 0.22, 0.045]","[0.26, 0.24, -0.086]","[0.0, 0.0, 0.0]"
2,Coral,"[-0.461, -0.293, 1.096]","[0.154, -0.447, 0.338]","[0.692, -0.196, 0.381]","[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]"
3,Culcita,"[0.0, 0.25, -0.014]","[-0.02, 0.83, 0.11]","[0.3, 0.11, -0.09]","[0.3, 0.09, -0.08]","[0.0, 0.0, 0.0]"
4,Cyclosorus,"[0.0, 0.25, -0.04]","[-0.005, 0.93, 0.053]","[0.16, 0.04, -0.078]","[0.16, 0.04, -0.068]","[0.0, 0.0, 0.0]"
5,Dragon,"[-0.212, 0.864, 0.095]","[-0.464, -0.378, 1.041]","[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]"
6,Fishbone,"[0.0, 0.25, -0.04]","[-0.002, 0.93, 0.051]","[0.27, 0.01, -0.135]","[0.27, 0.01, -0.129]","[0.0, 0.0, 0.0]"

<div class="alert alert-success">  
</div>

In [6]:
# a refers to the name of one of the well-known fractal image
def Possibility(a): 
    po = random.randrange(1000)
    
    if (po <= (frd.iloc[a, 2]*1000)):
        return 1
    if (po <= ((frd.iloc[a, 2] + frd.iloc[a, 3])*1000)):
        return 2
    if (po <= ((frd.iloc[a, 2] + frd.iloc[a, 3] + frd.iloc[a, 4])*1000)):
        return 3  
    if (po <= ((frd.iloc[a, 2] + frd.iloc[a, 3] + frd.iloc[a, 4] + frd.iloc[a, 5])*1000)):
        return 4     
    else:
        return 5

In [7]:
x, y = 0, 0 
sdd.setXscale(0.0, 1.0)
sdd.setYscale(0.0, 1.0)
sdd.setCanvasSize(800, 800) 
colors = [RED, GREEN, BLUE, VIOLET, ORANGE]

for i in range(7):
    sdd.clear(sdd.GRAY)
    sdd.setFontSize(s=48)
    sdd.text(0.2, 0.80, frd.iloc[i, 0])
    sdd.setFontSize(s=28)
    sdd.text(0.2, 0.75,'Points Number:')
    sdd.setFontSize(s=36)
    sdd.text(0.2, 0.70,f'({frd.iloc[i, 1]})')
        
    for j in range(frd.iloc[i, 1]):                
        p = Possibility(i)   
        
        x = (frpx.iloc[i, p][0]*x) + (frpx.iloc[i, p][1]*y) + (frpx.iloc[i, p][2])
        y = (frpy.iloc[i, p][0]*x) + (frpy.iloc[i, p][1]*y) + (frpy.iloc[i, p][2])        

        sdd.setPenColor(colors[p-1])    
        sdd.point(x, y)
        sdd.show(0)
    sdd.show(1)
sdd.clear()

<div class="alert alert-success">  
</div>